.app-container {
    height: 100%;
    .app-el-container {
        height: 100%;
        .el-aside {
            border-right: 1px solid #dcdfe6;
        }
        .el-main {
            padding: 36px 20px;
        }
    }
}
